@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.displayInput {
  word-break: break-word;
  white-space: pre-line;
}

.animationActive {
  opacity: 1;
  transition: 0.4s;
}

.animationUnactive {
  opacity: 0;
}

::-webkit-scrollbar{
  display: none;
}

.quote{
  font-family: 'Great Vibes', cursive;
}

.Morning{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://drive.google.com/file/d/1N8C0C_Gvoh0CyxI9JEgIoeRvECTeNN9D/view?usp=sharing) no-repeat center;background-size:cover;
 

}
.Afternoon{
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://drive.google.com/file/d/1N8C0C_Gvoh0CyxI9JEgIoeRvECTeNN9D/view?usp=sharing) no-repeat center;background-size:cover;
  

}
.Evening{
  background: linear-gradient(rgba(248, 48, 48, 0.5), rgba(0, 0, 0, 0.5)), url(https://unsplash.com/photos/a-plane-flying-in-the-sky-at-sunset-99H83dNA5-k) no-repeat center;
  background-size: cover;
  
  
}

 
